* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 20px;
  font-family: "Spartan", sans-serif;
}

.body1 {
  background-color: #3a4764;
}

.top1 h1 {
  color: white;
}

.top1 p {
  color: white;
}

.toggler1 {
  background-color: #232c43;
}

.circle1 {
  background-color: #d03f2f;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.btn1 {
  color: white;
  background: transparent;
  position: relative;
}

.btn1::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: white;
  position: absolute;
  top: -10px;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn1:hover::after {
  opacity: 1;
}

.output1 {
  background-color: #182034;
}

.output1 h1 {
  color: white;
}

.key-container1 {
  background-color: #232c43;
}

.key1 {
  border-color: aliceblue;
  color: #444b5a;
  border-bottom-width: 5px;
}

.key-reset1,
.key-del1 {
  background-color: #637097;
  border-color: #404e72;
  color: white;
}

.key-equal1 {
  background-color: #d03f2f;
  border-color: #d03f2f;
  color: white;
}

.body2 {
  background-color: #e6e6e6;
}

.top2 h1 {
  color: black;
}

.top2 p {
  color: black;
}

.toggler2 {
  background-color: #d1cccc;
}

.circle2 {
  background-color: #ca5502;
}

.btn2 {
  color: black;
  background: transparent;
  position: relative;
}

.btn2::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: black;
  position: absolute;
  top: -10px;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn2:hover::after {
  opacity: 1;
}

.output2 {
  background-color: #ededed;
}

.output2 h1 {
  color: black;
}

.key-container2 {
  background-color: #d1cccc;
}

.key2 {
  border-color: white;
  color: #35352c;
}

.key-reset2,
.key-del2 {
  background-color: #377f86;
  border-color: #377f86;
  color: white;
}

.key-equal2 {
  background-color: #ca5502;
  border-color: #ca5502;
  color: white;
}

.body3 {
  background-color: #160628;
}

.top3 h1 {
  color: #ffe53d;
}

.top3 p {
  color: #ffe53d;
}

.toggler3 {
  background-color: #1d0934;
}

.circle3 {
  background-color: #00e0d1;
}

.btn3 {
  color: #ffe53d;
  background: transparent;
  position: relative;
}

.btn3::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #ffe53d;
  position: absolute;
  top: -10px;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn3:hover::after {
  opacity: 1;
}

.output3 {
  background-color: #1d0934;
}

.output3 h1 {
  color: #ffe53d;
}

.key-container3 {
  background-color: #1d0934;
}

.key3 {
  border-color: #871c9c;
  color: #ffe53d;
  background-color: #341c4f;
}

.key-reset3,
.key-del3 {
  background-color: #bc15f4;
  border-color: #bc15f4;
  color: white;
}

.key-equal3 {
  background-color: #00e0d1;
  border-color: #00e0d1;
  color: black;
}

.theme {
  width: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 535px) {
  .theme {
    width: 17rem;
  }
}

.top {
  width: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top h1 {
  margin-right: auto;
  font-size: 2rem;
  position: relative;
  top: -0.3rem;
}

.top p {
  font-size: 0.65rem;
}

@media screen and (max-width: 535px) {
  .top {
    width: 17rem;
  }
}

.toggler {
  width: 3.5rem;
  height: 1.2rem;
  position: relative;
  border-radius: 0.5rem;
  margin-left: 1rem;
  top: -0.15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.circle {
  width: calc(2.8rem / 3);
  height: 0.9rem;
  border-radius: 50%;
  position: relative;
  left: 0.1rem;
}

.toggle-button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  top: -0.9rem;
  left: 2px;
}

.btn {
  border: none;
  outline: none;
  background: transparent;
  font-size: 0.7rem;
  padding: 0 0.25rem 2rem 0.25rem;
}

.output {
  width: 25rem;
  height: 7rem;
  border-radius: 0.5rem;
  margin: 1rem 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.output h1 {
  font-size: 2rem;
  margin-right: 0.5rem;
}

@media screen and (max-width: 535px) {
  .output {
    width: 17rem;
    margin-bottom: 1rem;
    height: 5.5rem;
  }
}

.key-container {
  padding: 1rem 0.15rem;
  border-radius: 0.5rem;
}

@media screen and (max-width: 535px) {
  .key-container {
    width: 17rem;
    padding: 0;
  }
}

.keys {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.key {
  border-top: none;
  border-left: none;
  border-right: none;
  width: 5rem;
  height: 3rem;
  margin: 0.5rem 0 0.5rem 1rem;
  border-radius: 0.35rem;
  border-bottom-width: 5px;
}

@media screen and (max-width: 535px) {
  .key {
    width: 3rem;
    height: 2.5rem;
  }
}

.key-reset,
.key-del {
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
}

.key-equal {
  border-top: none;
  border-left: none;
  border-right: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  min-height: 30rem;
  min-width: 18rem;
}

body,
main,
div,
button,
h1,
p {
  -webkit-transition: all .3s;
  transition: all .3s;
}

button {
  cursor: pointer;
}

.key-big {
  width: 11rem;
}

@media screen and (max-width: 535px) {
  .key-big {
    width: 7rem;
  }
}
/*# sourceMappingURL=style.css.map */